#falling-operators div {
    position: absolute;
    font-size: 125px;
    top: -150px;
    animation: falling linear infinite;
    z-index: -2;
    color: #084d81;
    user-select: none;
}

#falling-operators div:nth-child(1) {
    left: 25%;
    font-size: 120px;
    animation-delay: 0s;
    animation-duration: 11s;
}

#falling-operators div:nth-child(2) {
    left: 10%;
    font-size: 130px;
    animation-delay: 12s;
    animation-duration: 12s;
}

#falling-operators div:nth-child(3) {
    left: 90%;
    font-size: 140px;
    animation-delay: 4s;
    animation-duration: 15s;
}

#falling-operators div:nth-child(4) {
    left: 40%;
    font-size: 145px;
    animation-delay: 18s;
    animation-duration: 16s;
}

#falling-operators div:nth-child(5) {
    left: 65%;
    font-size: 150px;
    animation-delay: 0s;
    animation-duration: 10s;
}

#falling-operators div:nth-child(6) {
    left: 75%;
    font-size: 130px;
    animation-delay: 3s;
    animation-duration: 15s;
}

#falling-operators div:nth-child(7) {
    left: 35%;
    font-size: 155px;
    animation-delay: 7s;
    animation-duration: 14s;
}

#falling-operators div:nth-child(8) {
    left: 50%;
    font-size: 125px;
    animation-delay: 15s;
    animation-duration: 12s;
}

@keyframes falling {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translateY(1000px) rotate(720deg);
    }
}