html,
body {
    background-color: #011627;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../media/img/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#menu {
    width: 500px;
    padding: 100px;
    background-color: #0b2942;
    display: grid;
    place-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 3;
}



figure {
    display: flex;
    align-items: center;
    z-index: 2;
}


#title {
    color: #d6deeb;
    font-size: 72px;
    font-weight: bold;
    display: block;
    border-right: 4px solid;
    width: 6ch;
    animation: typing 2s steps(6), blink .5s infinite step-end alternate;
    overflow: hidden;
    cursor: default;
}

@keyframes typing {
    from {
        width: 0;
    }
}


@keyframes blink {
    50% {
        border-color: transparent;
    }
}

figure {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

img {
    height: 120px;
    margin-right: 15px;
}

.action-button {
    width: 250px;
    padding: 10px;
    font-size: 32px;
    margin: 15px;
    border: none;
    background-color: #084d81;
    color: #d6deeb;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
    z-index: 2;
}

.action-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px #084d81;
}


.action-button:hover img {
    animation: shaking 1s ease infinite;
}

@keyframes shaking {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.menu-icon {
    height: 32px;

}

#operators div {
    position: absolute;
    font-size: 125px;
    top: -150px;
    animation: falling linear infinite;
    z-index: 1;
    color: #084d81;
    user-select: none;
}

#operators div:nth-child(1) {
    left: 25%;
    font-size: 120px;
    animation-delay: 0s;
    animation-duration: 11s;
}

#operators div:nth-child(2) {
    left: 10%;
    font-size: 130px;
    animation-delay: 12s;
    animation-duration: 12s;
}

#operators div:nth-child(3) {
    left: 90%;
    font-size: 140px;
    animation-delay: 4s;
    animation-duration: 15s;
}

#operators div:nth-child(4) {
    left: 40%;
    font-size: 145px;
    animation-delay: 18s;
    animation-duration: 16s;
}

#operators div:nth-child(5) {
    left: 65%;
    font-size: 150px;
    animation-delay: 0s;
    animation-duration: 10s;
}

#operators div:nth-child(6) {
    left: 75%;
    font-size: 130px;
    animation-delay: 3s;
    animation-duration: 15s;
}

#operators div:nth-child(7) {
    left: 35%;
    font-size: 155px;
    animation-delay: 7s;
    animation-duration: 14s;
}

#operators div:nth-child(8) {
    left: 50%;
    font-size: 125px;
    animation-delay: 15s;
    animation-duration: 12s;
}

@keyframes falling {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translateY(1000px) rotate(720deg);
    }
}

.modal {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    background-color: #d6deeb;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;
}

.modal-close-btn {
    position: absolute;
    right: 35px;
    top: 0px;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.modal-close-btn:hover .leftright{
    transform: rotate(-45deg);
    background-color: #ef5350;
}

.modal-close-btn:hover .rightleft{
    transform: rotate(45deg);
    background-color: #ef5350;
}

.is-visible {
    opacity: 1;
    pointer-events: auto;
}

.leftright{
    height: 4px;
    width: 30px;
    position: absolute;
    margin-top: 24px;
    background-color: #0b2942;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 4px;
    width: 30px;
    position: absolute;
    margin-top: 24px;
    background-color: #0b2942;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }