@import url('fonts.css');

html,
body {
    background-color: #011627;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../assets/img/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Inconsolata';
}

#table {
    width: 650px;
    height: 525px;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 135px;
    background-color: #0b2942;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#info {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #d6deeb;
    border-radius: 10px;
    padding: 50px;
    width: 610px;
}

.icon_border {
    width: 130px;
    height: 110px;
    text-align: center;
}

.icon_border svg {
    margin-top: 0.2em;
    width: 110px;
    height: 110px;
}

#player-name {
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#last-operation {
    margin-right: 50%;
    width: 280px;
    height: 26px;
    font-size: 16px;
}

#last-operation span {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
}

#timer {
    right: 130px;
    top: 130px;
    position: absolute;
    height: 80px;
    width: 80px;
    text-align: center;
}

#timer-number {
    color: black;
    display: inline-block;
    line-height: 80px;
    font-weight: 800;
    font-size: 2.75em;
}

#timer svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    transform: rotateY(-180deg) rotateZ(-90deg);
    outline: 4.15px solid black;
    border-radius: 100%;
    background-color: rgba(0, 128, 0, 0.10);
    animation: timer-background 60s linear 1 forwards;
}

#timer svg circle {
    stroke-dasharray: 225px;
    stroke-dashoffset: 0px;
    stroke-width: 7.5px;
    stroke: #1ab550;
    fill: none;
    animation: timer-countdown 60s linear 1 forwards;
}


@keyframes timer-background {
    0% {
        background-color: rgba(0, 128, 0, 0.10);
    }

    45% {
        background-color: rgba(231, 205, 74, 0.25);
    }

    80% {
        background-color: rgba(239, 83, 80, 0.25);
    }

    100% {
        background-color: rgba(239, 83, 80, 0.25);
    }
}

@keyframes timer-countdown {
    0% {
        stroke-dashoffset: 0px;
        stroke: #1ab550;
    }

    45% {
        stroke: #eeb416;
    }

    80% {
        stroke: #e02232;
    }

    100% {
        stroke-dashoffset: 225px;
        stroke: #e02232;
    }
}

#target-number {
    opacity: 0.75;
    font-size: 7.5em;
    font-weight: 900;
    margin-right: 100%;
}

[draggable="true"] {
    cursor: move;
}

#operations {
    display: flex;
    gap: 20px;
    height: 350px;
}

.operation-area,
#operators {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: #d6deeb;
    border-radius: 10px;
    padding: 35px;
    font-weight: 400;

}

#operators {
    padding-top: 20px;
    align-self: flex-start;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#operators div {
    width: 42px;
    height: 42px;
    font-size: 5em;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 0px 0px #f7a655;
    background-color: #ffbd76;
}

#operators button {
    margin: 20px;
}


.player {
    display: flex;
    align-items: center;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.available-numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

}

.available-numbers .number-box {
    font-size: 2.3em;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #baacff;
    width: 72px;
    height: 42px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px #836cf6;
    overflow: hidden;
    user-select: none;
    font-weight: 600;
}

.result {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #1F2233;
}

.operation-area {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
}

.operation {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-top: 20px;
}

.operation .drop-field {
    width: 50px;
    height: 42px;
    font-size: 2.3em;
    border-radius: 10px;
    padding: 15px;
    margin-right: 20px;
    box-shadow: 5px 5px 0px 0px #5e8df3;
    background-color: #82aaff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.operation .operator-box {
    font-size: 4em;
    font-weight: 400;
}

.operation .number-box {
    width: 62px;
    height: 32px;
}

.dragover {
    outline: dashed;
    transition: all 0.05s;
}

#skip-turn {
    margin-top: 20px;
    width: 220px;
    padding: 10px;
    font-size: 32px;
    border: none;
    background-color: #009688;
    box-shadow: 0 7px 0 rgb(2, 84, 76);
    color: #edeff3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
}

.modal {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    max-width: 300px;
    height: 450px;
    margin: 0 auto;
    padding: 30px;
    background-color: #d6deeb;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
}

.is-visible {
    opacity: 1;
    pointer-events: auto;
}

#game-over-modal {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#game-over-modal h1 {
    text-align: center;
    font-size: 2.6em;
}

#game-over-modal .icon_border svg {
    width: 84px;
    height: 84px;
}

.players {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.game-over-player-name {
    font-size: 1.2em;
    margin-top: 0;
}


#skip-turn:active {
    box-shadow: 0 4px 0 rgb(2, 84, 76);
    transform: translateY(3.5px);
}

#falling-operators div {
    position: absolute;
    font-size: 125px;
    top: -150px;
    animation: falling linear infinite;
    z-index: -2;
    color: #084d81;
    user-select: none;
}

#falling-operators div:nth-child(1) {
    left: 25%;
    font-size: 120px;
    animation-delay: 0s;
    animation-duration: 11s;
}

#falling-operators div:nth-child(2) {
    left: 10%;
    font-size: 130px;
    animation-delay: 12s;
    animation-duration: 12s;
}

#falling-operators div:nth-child(3) {
    left: 90%;
    font-size: 140px;
    animation-delay: 4s;
    animation-duration: 15s;
}

#falling-operators div:nth-child(4) {
    left: 40%;
    font-size: 145px;
    animation-delay: 18s;
    animation-duration: 16s;
}

#falling-operators div:nth-child(5) {
    left: 65%;
    font-size: 150px;
    animation-delay: 0s;
    animation-duration: 10s;
}

#falling-operators div:nth-child(6) {
    left: 75%;
    font-size: 130px;
    animation-delay: 3s;
    animation-duration: 15s;
}

#falling-operators div:nth-child(7) {
    left: 35%;
    font-size: 155px;
    animation-delay: 7s;
    animation-duration: 14s;
}

#falling-operators div:nth-child(8) {
    left: 50%;
    font-size: 125px;
    animation-delay: 15s;
    animation-duration: 12s;
}

@keyframes falling {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translateY(1000px) rotate(720deg);
    }
}


@media (max-width: 760px) {

    #table {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #info {
        width: 85%;
    }

    #operations {
        flex-direction: column;
    }

    #operators {
        margin-top: 0;
        display: flex;
    }

    #operators,
    .operation-area {
        width: 550px;
    }

    #timer {
        right: 180px;
    }

    .button-wrapper {
        width: 100%;
        display: grid;
        place-items: center;
    }

}

@media (max-width: 500px) {

    html,
    body {
        overflow: hidden;
    }

    #table {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #info {
        width: 290px;
        position: relative;
    }

    #operators,
    .operation-area {
        width: 320px;

    }

    .icon_border svg {
        width: 85px;
        height: 85px;
        margin-right: 100%;
    }

    #player-name,
    .game-over-player-name {
        margin-left: -40px;
        margin-top: -10px;
        font-size: 1.1em;
    }

    .players {
        margin-left: 45px;
    }

    #target-number {
        position: absolute;
        font-size: 3.5em;
        margin-right: 280px;
    }

    #last-operation {
        position: absolute;
        bottom: -2.5px;
        left: 10px;
        width: 100%;
    }

    #last-operation span {
        display: inline;
        font-size: 1.10em;
    }

    #timer {
        right: 32px;
        top: 55px;
    }

    #timer-number {
        font-size: 1.85em;
    }

    .available-numbers .number-box,
    .operation .number-box {
        width: 82px;
        height: 72px;
        font-size: 2.25em;
    }

    .operation .operator-box {
        height: 62px;
        width: 75px;
    }

    .button-wrapper {
        width: 100%;
        display: grid;
        place-items: center;
    }



}