@import url('fonts.css');

html,
body {
    background-color: #011627;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../assets/img/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Inconsolata';
}

#table {
    width: 650px;
    height: 525px;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 135px;
    background-color: #0b2942;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#info {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #d6deeb;
    border-radius: 10px;
    padding: 50px;
    width: 610px;
}

.icon_border {
    width: 130px;
    height: 110px;
    text-align: center;
}

.icon_border svg {
    margin-top: 0.2em;
    width: 110px;
    height: 110px;
}

#player-name {
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#last-operation {
    margin-right: 50%;
    width: 280px;
    height: 26px;
    font-size: 16px;
}

#last-operation span {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
}

#timer {
    right: 130px;
    top: 130px;
    position: absolute;
    height: 80px;
    width: 80px;
    text-align: center;
}

#timer-number {
    color: black;
    display: inline-block;
    line-height: 80px;
    font-weight: 800;
    font-size: 2.75em;
}

#timer svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    transform: rotateY(-180deg) rotateZ(-90deg);
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: rgba(0, 128, 0, 0.10);
    animation: timer-background 60s linear 1 forwards;
}

#timer::before {
    content: '';
    width: 90px;
    height: 90px;
    border: 3px solid black;
    position: absolute;
    display: block;
    top: -7px;
    left: -7px;
    border-radius: 100%;
}

#timer::after {
    content: '';
    width: 10px;
    height: 10px;
    top: -15px;
    left: 30px;
    position: absolute;
    border: 3px solid black;
    border-bottom: none;
    border-top: none;
}

#timer-number::before {
    content: '';
    width: 25px;
    height: 7px;
    top: -25px;
    left: 22.4px;
    position: absolute;
    border: 3px solid black;
    border-radius: 5px;
}

#timer svg circle {
    stroke-dasharray: 225px;
    stroke-dashoffset: 0px;
    stroke-width: 7.5px;
    stroke: #1ab550;
    fill: none;
    animation: timer-countdown 60s linear 1 forwards;
}


@keyframes timer-background {
    0% {
        background-color: rgba(0, 128, 0, 0.10);
    }

    45% {
        background-color: rgba(231, 205, 74, 0.25);
    }

    80% {
        background-color: rgba(239, 83, 80, 0.25);
    }

    100% {
        background-color: rgba(239, 83, 80, 0.25);
    }
}

@keyframes timer-countdown {
    0% {
        stroke-dashoffset: 0px;
        stroke: #1ab550;
    }

    45% {
        stroke: #eeb416;
    }

    80% {
        stroke: #e02232;
    }

    100% {
        stroke-dashoffset: 225px;
        stroke: #e02232;
    }
}

#target-number {
    opacity: 0.75;
    font-size: 7.5em;
    font-weight: 900;
    margin-right: 100%;
}

[draggable="true"] {
    cursor: move;
}

#operations {
    display: flex;
    gap: 20px;
    height: 350px;
}

.operation-area,
#operators {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: #d6deeb;
    border-radius: 10px;
    padding: 35px;
    font-weight: 400;

}

#operators {
    padding-top: 20px;
    align-self: flex-start;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#operators div {
    width: 42px;
    height: 42px;
    font-size: 5em;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 0px 0px #f7a655;
    background-color: #ffbd76;
}

#operators button {
 margin: 20px;
}


.player {
    display: flex;
    align-items: center;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.available-numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

}

.available-numbers .number-box {
    font-size: 2.3em;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #baacff;
    width: 72px;
    height: 42px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px #836cf6;
    overflow: hidden;
    user-select: none;
    font-weight: 600;
}

.result {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #1F2233;
}

.operation-area {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
}

.operation {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-top: 20px;
}

.operation .drop-field {
    width: 50px;
    height: 42px;
    font-size: 2.3em;
    border-radius: 10px;
    padding: 15px;
    margin-right: 20px;
    box-shadow: 5px 5px 0px 0px #5e8df3;
    background-color: #82aaff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.operation .operator-box {
    font-size: 4em;
    font-weight: 400;
}

.operation .number-box {
    width: 62px;
    height: 32px;
}

.dragover {
    outline: dashed;
    transition: all 0.05s;
}

#skip-turn {
    margin-top: 20px;
    width: 220px;
    padding: 10px;
    font-size: 32px;
    border: none;
    background-color: #009688;
    box-shadow: 5px 5px 0px 0px rgb(2, 84, 76);
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
}

#falling-operators div {
    position: absolute;
    font-size: 125px;
    top: -150px;
    animation: falling linear infinite;
    z-index: -2;
    color: #084d81;
    user-select: none;
}

#falling-operators div:nth-child(1) {
    left: 25%;
    font-size: 120px;
    animation-delay: 0s;
    animation-duration: 11s;
}

#falling-operators div:nth-child(2) {
    left: 10%;
    font-size: 130px;
    animation-delay: 12s;
    animation-duration: 12s;
}

#falling-operators div:nth-child(3) {
    left: 90%;
    font-size: 140px;
    animation-delay: 4s;
    animation-duration: 15s;
}

#falling-operators div:nth-child(4) {
    left: 40%;
    font-size: 145px;
    animation-delay: 18s;
    animation-duration: 16s;
}

#falling-operators div:nth-child(5) {
    left: 65%;
    font-size: 150px;
    animation-delay: 0s;
    animation-duration: 10s;
}

#falling-operators div:nth-child(6) {
    left: 75%;
    font-size: 130px;
    animation-delay: 3s;
    animation-duration: 15s;
}

#falling-operators div:nth-child(7) {
    left: 35%;
    font-size: 155px;
    animation-delay: 7s;
    animation-duration: 14s;
}

#falling-operators div:nth-child(8) {
    left: 50%;
    font-size: 125px;
    animation-delay: 15s;
    animation-duration: 12s;
}

@keyframes falling {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translateY(1000px) rotate(720deg);
    }
}

@media (max-width: 760px) {

    #table {
        width: 400px;
    }

    #info {
        width: 350px;
    }

    #operations {
        flex-direction: column;
    }

    #operators {
        margin-top: 0;
    }

    #operators,
    .operation-area {
        display: flex;
        width: 400px;
    }

}

@media (max-width: 500px) {
    #table {
        width: 200px;
    }

    #info {
        width: 200px;
    }

    #operations {
        flex-direction: column;
    }

    #operators {
        margin-top: 0;
    }

    #operators,
    .operation-area {
        display: flex;
        width: 250px;

    }

    .available-numbers .number-box {
        width: 50px;
        height: 32px;
        font-size: 2.25em;
    }


    .operation .drop-field {
        font-size: 2.5em;
        width: 24px;
        height: 32px;

    }

    #operators span {
        width: 24px;
        height: 32px;
    }

}