@import url('fonts.css');

html,
body {
    background-color: #011627;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../assets/img/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Inconsolata';
}

#table {
    width: 80%;
    padding: 100px;
    background-color: #0b2942;
    display: grid;
    place-items: center;
    border-radius: 10px;
    position: relative;
    overflow: scroll;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}


#info {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    background-color: #d6deeb;
    border-radius: 10px;
    padding: 50px;
    width: 610px;
}

#target-number {
    font-size: 5em;
    font-weight: 900;
}

[draggable="true"] {
    cursor: move;
}

#operations {
    display: flex;
    gap: 20px;
    height: 350px;
}

.operation-area,
#operators {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    gap: 15px;
    background-color: #d6deeb;
    border-radius: 10px;
    padding: 35px;
}

#operators {
    align-self: flex-start;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}

#operators span {
    width: 42px;
    height: 42px;
    font-size: 5em;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.player {
    display: flex;
    align-items: center;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.available-numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

}

.available-numbers .number {
    font-size: 5em;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #13344f50;
    width: 75px;
    height: 48px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    user-select: none;

}

.operation-area {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 0px;
}

.operation {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-top: 20px;
}

.operation span {
    width: 42px;
    height: 42px;
    font-size: 5em;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

@media (max-width: 1100px) {

    #table {
        width: 650px;
    }
}

@media (max-width: 760px) {

    #table {
        width: 400px;
    }

    #info {
        width: 350px;
    }

    #operations {
        flex-direction: column;
    }

    #operators {
        margin-top: 0;
    }

    #operators,
    .operation-area {
        display: flex;
        width: 400px;
    }

}

@media (max-width: 500px) {
    #table {
        width: 200px;
    }

    #info {
        width: 200px;
    }

    #operations {
        flex-direction: column;
    }

    #operators {
        margin-top: 0;
    }

    #operators,
    .operation-area {
        display: flex;
        width: 250px;

    }

    .available-numbers .number,
    .operation span {
        font-size: 2.5em;
        width: 24px;
        height: 32px;

    }

    #operators span {
        width: 24px;
        height: 32px;
    }

}