@import url('fonts.css');
@import url('fallingops.css');

html,
body {
    background-color: #011627;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url("../assets/img/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata';
}

#ranking {
    width: 500px;
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #0b2942;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ranking-data {
    background-color: #d6deeb;
    border-radius: 10px;
    padding: 50px;
    padding-top: 0;
    overflow-y: scroll;
    max-height: 400px;
    scrollbar-width: none;
}

#ranking-data::-webkit-scrollbar {
    display: none;
}

#ranking-table {
    border-spacing: 10px;
    overflow-y: hidden;
}


#ranking-table th {
    position: sticky;
    top: 0;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #084d81;
    color: #d6deeb;
}

#ranking-table td {
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background-color: #c1d1ea;

}

#title {
    color: #d6deeb;
    font-size: 72px;
    font-weight: bold;
    display: block;
    border-right: 4px solid;
    width: 7ch;
    animation: typing 2s steps(7), blink .5s infinite step-end alternate;
    overflow: hidden;
    cursor: default;
    user-select: none;
}

@keyframes typing {
    from {
        width: 0;
    }
}


@keyframes blink {
    50% {
        border-color: transparent;
    }
}

nav {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    gap: 10px;
}

.switch {
    position: relative;
    width: 48px;
    height: 28px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    transition: .4s;
    border-radius: 28px;
}

.slider::before {
    position: absolute;
    content: url("../assets/img/volume-mute.svg");
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 3.5px;
    background-color: #d6deeb;
    transition: .4s;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

input:checked+.slider {
    background-color: #82aaff;
}

input:checked+.slider::before {
    transform: translateX(16px);
    content: url("../assets/img/volume-on.svg");
}

#back-btn {
    width: 68px;
    height: 28px;
    border: none;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.8em;
    font-family: inherit;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition: .2s;
}

#back-btn span {
    margin-right: 20px;
    transition: .2s;

}

#back-btn img {
    position: absolute;
    transform: translateX(20px);
    height: 18px;
    width: 18px;
    padding: 2.5px;
    display: grid;
    place-items: center;
    transition: .2s;
}

#back-btn:hover {
    background-color: #80cbc4;
    color: transparent;
}

#back-btn:hover img {
    transform: scale(1.25);
}

@media (max-width: 760px) {

    #menu {
        width: 400px;
    }
}

@media (max-width: 500px) {

    html,
    body {
        overflow: hidden;
    }

    #ranking {
        height: 100%;
    }

    #ranking-data {
        height: 335px;
        width: 300px;
    }

}

